.payment-settings-component > *{
    opacity: 0;
  animation: viewContent 0.2s ease-in-out forwards;
  }

.payment-settings-component{
    margin: 0 150px 0 50px;
    height: 600px;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 1px 3px 0 rgba(127, 124, 124, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(160, 120, 120, 0.2);
    border-radius: 25px;
    padding: 30px 0;
}

.header-container{
    display: flex;
    justify-content: flex-end;
    
}
.add-card-details{
    text-decoration: none;
    margin: 0 25px;
}
.add-card-btn{
    text-decoration: none;
}
.add-card-btn:hover{
    color: aliceblue;
}
.card-details{
    margin: 50px;
}